.listing-modal_approvals_content {
  display: inline-block;
  margin: 0 auto;
  height: 8rem;
  font-size: 1.2rem;
}

.listing-modal_approvals svg {
  font-size: 1.6rem;
}

.listing-modal_approvals_gas {
  max-width: 300px;
}

.listing-modal_approvals_gas_input {
  max-width: 85px;
}
